<ul class="media-list">
  <% like_posts.each do |like_post| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(like_post.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to like_post.user.name, user_path(like_post.user) %> <span class="text-muted">posted at <%= like_post.created_at %></span>
        </div>
        <div>
          <p><%= like_post.content %></p>
        </div>
        <div>
          <% unless current_user == like_post.user %>
            <% if current_user.faving?(like_post) %>
              <%= form_for(current_user.likes.find_by(post_id: like_post.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :post_id, like_post.id %>
                <%= f.submit "お気に入り解除", class: 'btn btn-warning btn-xs' %>
              <% end %>
            <% else %>
              <%= form_for(current_user.likes.build) do |f| %>
                <%= hidden_field_tag :post_id, like_post.id %>
                <%= f.submit "お気に入り", class: 'btn btn-info btn-xs' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate like_posts %>
</ul>